<div class='container' style="padding-top:2em;" id="activity">
    <div class="row">
        <div class="">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group has-success">
                    <label class="control-label">Access Token</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="Act_Access_Token" placeholder="Activity_Access_Token" value="<%= Act_Access_Token%>">
                        <span class="input-group-btn">
                          <button id="act_auth_press" class="btn btn-success" type="button">身份获取</button>
                        </span>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group has-warning">
                    <label class="control-label">Access Token</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="Act_Refresh_Token" placeholder="Activity_Refresh_Token" value="<%= Act_Refresh_Token%>">
                        <span class="input-group-btn">
                          <button id="act_auth_refresh" class="btn btn-warning" type="button">更新 Token</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
        <!-- looping api map  -->
        <% global.ACTIVITY_API_MAP.forEach(function(apiData, i){ %>
        <!-- skip empty data -->
        <% if(apiData.data.length == 0){ return; } %>

        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= apiData.name %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= apiData.desc %>
                    </p>
                    <form name="form<%= i %>" action="<%= apiData.url || 'null' %>" method="get">
                      <input type="hidden" name="mapIdx" value="<%= i %>" />
                      <input type="hidden" name="fENV" value="TEST" />
                      <input type="hidden" name="iCode" value="<%= apiData.icode.test %>" />
                      <% 
                        apiData.data.forEach(function(data){ 
                          if(data.type != 'hidden'){
                      %>
                        <div class="form-group">
                          <label class="control-label"><%= data.name %>:</label>
                          <div class="input-group">
                            <input type="<%= data.type %>" name="<%= data.name %>" value="<%= data.value %>" />
                          </div>
                        </div>
                      <% }else{ %>
                            <input type="<%= data.type %>" name="<%= data.name %>" value="<%= data.value %>" />
                      <% 
                          }
                        });
                      %>
                      <div class="form-group">
                          <label class="control-label">测试 iCODE:</label>
                          <div class="input-group">
                              <input type="text" class="form-control  input-sm" value="<%= apiData.icode.test %>">
                              <span class="input-group-btn">
                                  <a href="javascript: void(0);" onclick="submitForm(this)" class="btn btn-primary btn-sm">查詢</a>
                              </span>
                          </div>
                      </div>
                    </form>
                    <form name="form<%= i %>" action="<%= apiData.url || 'null' %>" method="get">
                      <div class="form-group">
                          <label class="control-label">生产 iCODE:</label>
                          <div class="input-group">
                            <input type="hidden" name="mapIdx" value="<%= i %>" />
                            <input type="hidden" name="fENV" value="PROD" />
                            <input type="hidden" name="iCode" value="<%= apiData.icode.prod %>" />
                            <% 
                              apiData.data.forEach(function(data){ 
                                if(data.type != 'hidden'){
                            %>
                              <div class="form-group">
                                <label class="control-label"><%= data.name %>:</label>
                                <div class="input-group">
                                  <input type="<%= data.type %>" name="<%= data.name %>" value="<%= data.value %>" />
                                </div>
                              </div>
                            <% }else{ %>
                                  <input type="<%= data.type %>" name="<%= data.name %>" value="<%= data.value %>" />
                            <% 
                                }
                              });
                            %>
                            <input type="text" class="form-control  input-sm" value="<%= apiData.icode.prod %>">
                            <span class="input-group-btn">
                              <% if(apiData.name.indexOf('创建订单') < 0){ %>
                                <a href="javascript: void(0);" onclick="submitForm(this)" class="btn btn-warning btn-sm">查詢</a>
                              <% }else{ %>
                                <a href="javascript: void(0);" onclick="submitForm(this)" class="btn btn-warning btn-sm disabled">查詢</a>
                              <% } %>
                            </span>
                          </div>
                      </div>
                    </form>
                </div>
            </div>
          </div>
        

        <% }); %>
        <!-- end of looping api map  -->

    <!--/row-->
    <!--script src='//code.jquery.com/jquery-3.1.1.min.js' integrity='sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=' crossorigin='anonymous'></script-->
    <!--script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script-->
    <script src="./libs/jquery-3.1.1.min.js"></script>
    <script src="./libs/bootstrap/bootstrap.min.js"></script>
    <script type='text/javascript'>
    $(function() {

        var $activity = $('#activity');
        //10. 玩乐创建订单
        $activity.find('.createOrder_test_press').on('click', function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ACT_ICODE_10_TEST %>';
            createOrder(fENV, ICODE);
        });
        $activity.find('.createOrder_prod_press').on('click', function(e) {
            alert('假的！');
            // var fENV = '生产';
            // var ICODE = '<%= global.ACT_ICODE_10_PROD %>';
            //createOrder(fENV, ICODE);
        });

        function createOrder(fENV, ICODE) {
            var win = window.open('/activity/create-order?fENV=' + fENV + '&iCode=' + ICODE, '_blank');
            win.focus();
        }

    });
    </script>
    <script type="text/javascript">
    function submitForm(button){
      var form = $(button).closest('form')[0];

      form.target = form.name;
      window.open("", form.name);
      form.submit();
    }
    </script>
     <script type="text/javascript">
      $(document).ready(function() {

        $('#act_auth_press').click(function(e){
          e.preventDefault();
          console.log('act_auth_press clicked');

          var data = {};
          console.log(data);

          $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: '/activity/auth',
              success: function(data) {
                console.log('success');
                console.log(JSON.stringify(data));
                $('#rAID').val(data.AID);
                $('#rSID').val(data.SID);
                $('#rAccess_Token').val(data.Access_Token);
                $('#rExpires_In').val(data.Expires_In);
                $('#rRefresh_Token').val(data.Refresh_Token);

                $('#Act_Access_Token').val(data.Access_Token);
                $('#Act_Refresh_Token').val(data.Refresh_Token);

                $('#authModal').modal('show');
                $('#authModal').on('hidden.bs.modal', function () {
                })
              }
          });
        });

        $('#act_auth_refresh').click(function(e){
          e.preventDefault();
          console.log('act_auth_refresh clicked');

          var data = {};
          console.log(data);

          $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: '/activity/refresh?token=' + $('#Act_Refresh_Token').val(),
              success: function(data) {
                console.log('success');
                console.log(JSON.stringify(data));
                $('#rAID').val(data.AID);
                $('#rSID').val(data.SID);
                $('#rAccess_Token').val(data.Access_Token);
                $('#rExpires_In').val(data.Expires_In);
                $('#rRefresh_Token').val(data.Refresh_Token);

                $('#Act_Access_Token').val(data.Access_Token);
                $('#Act_Refresh_Token').val(data.Refresh_Token);

                $('#authModal').modal('show');
                $('#authModal').on('hidden.bs.modal', function () {
                })
              }
          });
        });

      });
    </script>
</div>
