<div class='container' style="padding-top:2em;">
    <div class="row">
        <div class="span12">
            <form class="navbar-form navbar-left" role="search">
                <div class="btn-group" data-toggle="buttons">
                    
                        <label class="btn btn-default active">
                            <input type="radio" checked autocomplete="off">门票
                        </label>
                    
                        <label class="btn btn-default">
                            <input type="radio" autocomplete="off">玩乐
                        </label>
                    
                        <label class="btn btn-default">
                            <input type="radio" autocomplete="off">接送机
                        </label>
                    
                </div>        
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.RETORD_FUNC_NM_2_4 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.RETORD_FUNC_DESC_2_4%>
                    </p>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.RETORD_ICODE_2_4_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="ticketList_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.RETORD_ICODE_2_4_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="ticketList_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.4 -->
        </div>
    </div>
</div>
</div>
<!--/row-->
<script src="./libs/jquery-3.1.1.min.js"></script>
<script src="./libs/bootstrap/bootstrap.min.js"></script>
<script type='text/javascript'>
$(function() {

    //2.4
    $('#ticketList_test_press').click(function(e) {
        var fENV = '测试';
        var ICODE = '<%= global.ICODE_2_4_TEST %>';
        queryTicketList(fENV, ICODE);
    });

    $('#ticketList_prod_press').click(function(e) {
        var fENV = '生产';
        var ICODE = '<%= global.ICODE_2_4_PROD %>';
        queryTicketList(fENV, ICODE);
    });



});
</script>
</div>

