<div class='container' style="padding-top:2em;">
    <div class="row">
        <div class="">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group has-success">
                    <label class="control-label">Access Token</label>
                    <div class="input-group">
                        <input id="fAccess_Token" type="text" class="form-control" placeholder="Access_Token" value="<%= Access_Token%>">
                        <span class="input-group-btn">
                          <button id="auth_press" class="btn btn-success" type="button">身份获取</button>
                        </span>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="form-group has-warning">
                    <label class="control-label">Access Token</label>
                    <div class="input-group">
                        <input id="fRefresh_Token" type="text" class="form-control" placeholder="Refresh_Token" value="<%= Refresh_Token%>">
                        <span class="input-group-btn">
                          <button id="auth_refresh"class="btn btn-warning" type="button">更新 Token</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.FUNC_NM_2_4 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_4%>
                    </p>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_4_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="ticketList_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_4_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="ticketList_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.4 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.FUNC_NM_2_8 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_8%>
                    </p>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess">Resource ID List</label>
                        <input type="text" class="form-control input-sm" name="ResourceIDList_2_8" value="227172">
                    </div>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_8_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="resourceDynamic_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_8_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="resourceDynamic_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.8 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.FUNC_NM_2_11 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_11%>
                    </p>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_11_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="createOrder_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_11_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm disabled" id="createOrder_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.11 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.FUNC_NM_2_14 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_14%>
                    </p>
                    <div class="form-group">
                        <label class="control-label" for="BeginOrderTime_2_14">BeginOrderTime</label>
                        <input type="text" class="form-control input-sm" name="BeginOrderTime_2_14" value="2016-11-01T00:00:00">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="EndOrderTime_2_14">EndOrderTime</label>
                        <input type="text" class="form-control input-sm" name="EndOrderTime_2_14" value="2016-12-01T00:00:00">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="PageSize">PageSize</label>
                        <input type="text" class="form-control input-sm" name="PageSize" value="10">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="PageIndex">PageIndex</label>
                        <input type="text" class="form-control input-sm" name="PageIndex" value="1">
                    </div>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_14_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="getOrderStatus_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_14_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="getOrderStatus_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.14 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.FUNC_NM_2_17 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_17%>
                    </p>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess">OrderId</label>
                        <input type="text" class="form-control input-sm" name="OrderId_2_17" value="2340123683">
                    </div>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_17_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="getVoucherOrderItemInfo_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_17_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="getVoucherOrderItemInfo_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.17 -->
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-gift"></i> <%= global.FUNC_NM_2_5%></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_5%>
                    </p>
                    <div class="form-group">
                        <label for="ScenicSpotIDList" class="control-label">Scenicspot ID List</label>
                        <input type="text" class="form-control input-sm" name="ScenicSpotIDList" value="758">
                    </div>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_5_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="scenicspotDetail_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_5_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="scenicspotDetail_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.5 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.FUNC_NM_2_9 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_9%>
                    </p>
                    <div class="form-group">
                        <label class="control-label" for="ResourceIDList_2_9">Resource ID List</label>
                        <input type="text" class="form-control input-sm" name="ResourceIDList_2_9" value="227172">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="StartDate">StartDate</label>
                        <input type="text" class="form-control input-sm" name="StartDate" value="2016-12-01T00:00:00">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="EndDate">EndDate</label>
                        <input type="text" class="form-control input-sm" name="EndDate" value="2016-12-10T00:00:00">
                    </div>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_9_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="resourcePriceCalendar_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_9_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="resourcePriceCalendar_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.9 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.FUNC_NM_2_12 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_12%>
                    </p>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_12_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="generateUniqueID_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_12_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="generateUniqueID_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.12 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.FUNC_NM_2_15 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_15%>
                    </p>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess">OrderId</label>
                        <input type="text" class="form-control input-sm" name="OrderId_2_15" value="2340123683">
                    </div>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_15_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="getOrderCancelStatus_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_15_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="getOrderCancelStatus_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.15 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.FUNC_NM_2_18 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_18%>
                    </p>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess">OrderId</label>
                        <input type="text" class="form-control input-sm" name="OrderId_2_18" value="2340123683">
                    </div>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_18_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="getOrderRefundList_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_18_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="getOrderRefundList_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.18 -->
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.FUNC_NM_2_6 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_4%>
                    </p>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess">Resource ID List</label>
                        <input type="text" class="form-control input-sm" name="ResourceIDList_2_6" value="227172">
                    </div>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_6_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="resourceDetail_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_6_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="resourceDetail_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.6 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.FUNC_NM_2_10 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_10%>
                    </p>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_10_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="resourceOrderCheck_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_10_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="resourceOrderCheck_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.10 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.FUNC_NM_2_13 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_13%>
                    </p>
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess">OrderId</label>
                        <input type="text" class="form-control input-sm" name="OrderId_2_13" value="2340123683">
                    </div>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_13_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="getOrderInfo_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_13_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="getOrderInfo_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.13 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class="fa fa-fw fa-check"></i> <%= global.FUNC_NM_2_16 %></h5>
                </div>
                <div class="panel-body">
                    <p>
                        <%= global.FUNC_DESC_2_16%>
                    </p>
                    <div class="form-group">
                        <label class="control-label" for="OrderId">OrderId</label>
                        <input type="text" class="form-control input-sm" id="OrderId" name="OrderId_2_16" value="2340123683">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Reason">Reason</label>
                        <input type="text" class="form-control input-sm" id="Reason" name="Reason" value="测试">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Remark">Remark</label>
                        <input type="text" class="form-control input-sm" id="Remark" name="Remark" value="测试">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="OrderItemID">OrderItemID</label>
                        <input type="text" class="form-control input-sm" id="OrderItemID" name="OrderItemID" value="17896628">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Quantity">Quantity</label>
                        <input type="text" class="form-control input-sm" id="Quantity" name="Quantity" value="1">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="VerifyKey">VerifyKey</label>
                        <input type="text" class="form-control input-sm" id="VerifyKey" name="VerifyKey" value="UID">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="VerifyValue">VerifyValue</label>
                        <input type="text" class="form-control input-sm" id="VerifyValue" name="VerifyValue" value="5be652a1-efca-4159-a82f-8122884d6f08">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="CancelType">CancelType</label>
                        <input type="text" class="form-control" id="CancelType" name="CancelType" value="0">
                    </div>
                    <div class="form-group">
                        <label class="control-label">测试 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_16_TEST %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-primary btn-sm" id="cancelOrder_test_press">查詢</a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">生产 iCODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" value="<%= global.ICODE_2_16_PROD %>">
                            <span class="input-group-btn">
                              <a href="javascript: void(0);" class="btn btn-warning btn-sm" id="cancelOrder_prod_press">查詢</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /2.16 -->
        </div>
    </div>
    <!--/row-->
    <script src="./libs/jquery-3.1.1.min.js"></script>
    <script src="./libs/bootstrap/bootstrap.min.js"></script>
    <script type='text/javascript'>
    $(function() {

        //2.4
        $('#ticketList_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_4_TEST %>';
            queryTicketList(fENV, ICODE);
        });

        $('#ticketList_prod_press').click(function(e) {
            var fENV = '生产';
            var ICODE = '<%= global.ICODE_2_4_PROD %>';
            queryTicketList(fENV, ICODE);
        });

        function queryTicketList(fENV, ICODE) {
            var win = window.open('/ticket/list?fENV=' + fENV +
                '&iCode=' + ICODE +
                '&fLUT=' + new Date().toISOString().substring(0, 10) + 'T00:00:00' +
                '&Limit=2' +
                '&CanSaleExtend=1', '_blank');
            win.focus();
        }


        //2.5
        $('#scenicspotDetail_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_5_TEST %>';
            queryScenicspotDetail(fENV, ICODE, $('input[name="ScenicSpotIDList"]').val());
        });
        $('#scenicspotDetail_prod_press').click(function(e) {
            var fENV = '生产';
            var ICODE = '<%= global.ICODE_2_5_PROD %>';
            queryScenicspotDetail(fENV, ICODE, $('input[name="ScenicSpotIDList"]').val());
        });

        function queryScenicspotDetail(fENV, ICODE, ScenicSpotIDList) {
            var win = window.open('/ticket/scenicspot-detail?fENV=' + fENV +
                '&iCode=' + ICODE +
                '&ScenicSpotIDList=' + ScenicSpotIDList +
                '&DistributionChannelID=9' +
                '&ResponseDataType=0' +
                '&ImageSizeKey=C_500_280_90', '_blank');
            win.focus();
        }

        //2.6
        $('#resourceDetail_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_6_TEST %>';
            queryResourceDetail(fENV, ICODE, $('input[name="ResourceIDList_2_6"]').val());
        });
        $('#resourceDetail_prod_press').click(function(e) {
            var fENV = '生产';
            var ICODE = '<%= global.ICODE_2_6_PROD %>';
            queryResourceDetail(fENV, ICODE, $('input[name="ResourceIDList_2_6"]').val());
        });

        function queryResourceDetail(fENV, ICODE, ResourceIDList) {
            var win = window.open('/ticket/resource-detail?fENV=' + fENV +
                '&iCode=' + ICODE +
                '&ResouceIDList=' + ResourceIDList +
                '&DistributionChannelID=9', '_blank');
            win.focus();
        }

        //2.8
        $('#resourceDynamic_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_8_TEST %>';
            queryResourceDynamic(fENV, ICODE, $('input[name="ResourceIDList_2_8"]').val());
        });
        $('#resourceDynamic_prod_press').click(function(e) {
            var fENV = '生产';
            var ICODE = '<%= global.ICODE_2_8_PROD %>';
            queryResourceDynamic(fENV, ICODE, $('input[name="ResourceIDList_2_8"]').val());
        });

        function queryResourceDynamic(fENV, ICODE, ResourceIDList) {
            var win = window.open('/ticket/resource-dynamic?fENV=' + fENV +
                '&iCode=' + ICODE +
                '&ResourceIDList=' + ResourceIDList +
                '&DistributionChannelID=9', '_blank');
            win.focus();
        }

        //2.9
        $('#resourcePriceCalendar_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_9_TEST %>';
            queryResourcePriceCalendar(fENV, ICODE,
                $('input[name="ResourceIDList_2_9"]').val(),
                $('input[name="StartDate"]').val(),
                $('input[name="EndDate"]').val());
        });
        $('#resourcePriceCalendar_prod_press').click(function(e) {
            var fENV = '生产';
            var ICODE = '<%= global.ICODE_2_9_PROD %>';
            queryResourcePriceCalendar(fENV, ICODE,
                $('input[name="ResourceIDList_2_9"]').val(),
                $('input[name="StartDate"]').val(),
                $('input[name="EndDate"]').val());
        });

        function queryResourcePriceCalendar(fENV, ICODE, ResourceIDList, StartDate, EndDate) {
            var win = window.open('/ticket/resource-price-calendar?fENV=' + fENV +
                '&iCode=' + ICODE +
                '&ResourceIDList=' + ResourceIDList +
                '&StartDate=' + StartDate +
                '&EndDate=' + EndDate +
                '&DistributionChannelID=9', '_blank');
            win.focus();
        }

        //2.10
        $('#resourceOrderCheck_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_10_TEST %>';
            resourceOrderCheck(fENV, ICODE);
        });
        $('#resourceOrderCheck_prod_press').click(function(e) {
            var fENV = '生产';
            var ICODE = '<%= global.ICODE_2_10_PROD %>';
            resourceOrderCheck(fENV, ICODE);
        });

        function resourceOrderCheck(fENV, ICODE) {
            var win = window.open('/ticket/resource-order-check?fENV=' + fENV +
                '&iCode=' + ICODE +
                '&DistributionChannelID=9', '_blank');
            win.focus();
        }

        //2.11
        $('#createOrder_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_11_TEST %>';
            createOrder(fENV, ICODE);
        });
        $('#createOrder_prod_press').click(function(e) {
            alert('假的！');
            // var fENV = '生产';
            // var ICODE = '<%= global.ICODE_2_11_PROD %>';
            //createOrder(fENV, ICODE);
        });

        function createOrder(fENV, ICODE) {
            var win = window.open('/ticket/order-form?fENV=' + fENV + '&iCode=' + ICODE, '_blank');
            win.focus();
        }

        //2.12
        $('#generateUniqueID_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_12_TEST %>';
            generateUniqueID(fENV, ICODE);
        });
        $('#generateUniqueID_prod_press').click(function(e) {
            var fENV = '生产';
            var ICODE = '<%= global.ICODE_2_12_PROD %>';
            generateUniqueID(fENV, ICODE);
        });

        function generateUniqueID(fENV, ICODE) {
            var win = window.open('/ticket/generate-uid?fENV=' + fENV + '&iCode=' + ICODE, '_blank');
            win.focus();
        }

        //2.13
        $('#getOrderInfo_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_13_TEST %>';
            getOrderInfo(fENV, ICODE, $('input[name="OrderId_2_13"]').val());
        });
        $('#getOrderInfo_prod_press').click(function(e) {
            var fENV = '生产';
            var ICODE = '<%= global.ICODE_2_13_PROD %>';
            getOrderInfo(fENV, ICODE, $('input[name="OrderId_2_13"]').val());
        });

        function getOrderInfo(fENV, ICODE, OrderId) {
            var win = window.open('/ticket/order-info?fENV=' + fENV + '&iCode=' + ICODE +
                '&OrderId=' + OrderId +
                '&DistributionChannelID=9', '_blank');
            win.focus();
        }

        //2.14
        $('#getOrderStatus_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_14_TEST %>';
            getOrderStatus(fENV, ICODE,
                $('input[name="BeginOrderTime_2_14"]').val(),
                $('input[name="EndOrderTime_2_14"]').val(),
                $('input[name="PageSize"]').val(),
                $('input[name="PageIndex"]').val());
        });
        $('#getOrderStatus_prod_press').click(function(e) {
            var fENV = '生产';
            var ICODE = '<%= global.ICODE_2_14_PROD %>';
            getOrderStatus(fENV, ICODE,
                $('input[name="BeginOrderTime_2_14"]').val(),
                $('input[name="EndOrderTime_2_14"]').val(),
                $('input[name="PageSize"]').val(),
                $('input[name="PageIndex"]').val());
        });

        function getOrderStatus(fENV, ICODE, BeginOrderTime, EndOrderTime, PageSize, PageIndex) {
            var win = window.open('/ticket/order-status?fENV=' + fENV + '&iCode=' + ICODE +
                '&BeginOrderTime=' + BeginOrderTime +
                '&EndOrderTime=' + EndOrderTime +
                '&PageSize=' + PageSize +
                '&PageIndex=' + PageIndex +
                '&DistributionChannelID=9', '_blank');
            win.focus();
        }

        //2.15
        $('#getOrderCancelStatus_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_15_TEST %>';
            getOrderCancelStatus(fENV, ICODE, $('input[name="OrderId_2_15"]').val());
        });
        $('#getOrderCancelStatus_prod_press').click(function(e) {
            var fENV = '生产';
            var ICODE = '<%= global.ICODE_2_15_PROD %>';
            getOrderCancelStatus(fENV, ICODE, $('input[name="OrderId_2_15"]').val());
        });

        function getOrderCancelStatus(fENV, ICODE, OrderId) {
            var win = window.open('/ticket/cancel-status?fENV=' + fENV + '&iCode=' + ICODE +
                '&OrderId=' + OrderId +
                '&DistributionChannelID=9', '_blank');
            win.focus();
        }

        //2.17
        $('#cancelOrder_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_16_TEST %>';
            cancelOrder(fENV, ICODE,
                $('input[name="OrderId_2_16"]').val(),
                $('input[name="Reason"]').val(),
                $('input[name="Remark"]').val(),
                $('input[name="OrderItemID"]').val(),
                $('input[name="Quantity"]').val(),
                $('input[name="VerifyKey"]').val(),
                $('input[name="VerifyValue"]').val(),
                $('input[name="CancelType"]').val());
        });
        $('#cancelOrder_prod_press').click(function(e) {
            var fENV = '生产';
            var ICODE = '<%= global.ICODE_2_16_PROD %>';
            cancelOrder(fENV, ICODE,
                $('input[name="OrderId_2_16"]').val(),
                $('input[name="Reason"]').val(),
                $('input[name="Remark"]').val(),
                $('input[name="OrderItemID"]').val(),
                $('input[name="Quantity"]').val(),
                $('input[name="VerifyKey"]').val(),
                $('input[name="VerifyValue"]').val(),
                $('input[name="CancelType"]').val());
        });

        function cancelOrder(fENV, ICODE, OrderId, Reason, Remark, OrderItemID, Quantity, VerifyKey, VerifyValue, CancelType) {
            var win = window.open('/ticket/cancel-order?fENV=' + fENV + '&iCode=' + ICODE +
                '&OrderId=' + OrderId +
                '&Reason=' + Reason +
                '&Remark=' + Remark +
                '&OrderItemID=' + OrderItemID +
                '&Quantity=' + Quantity +
                '&VerifyKey=' + VerifyKey +
                '&VerifyValue=' + VerifyValue +
                '&CancelType=' + CancelType +
                '&DistributionChannelID=9', '_blank');
            win.focus();
        }

        //2.17
        $('#getVoucherOrderItemInfo_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_17_TEST %>';
            getVoucherOrderItemInfo(fENV, ICODE, $('input[name="OrderId_2_17"]').val());
        });
        $('#getVoucherOrderItemInfo_prod_press').click(function(e) {
            var fENV = '生产';
            var ICODE = '<%= global.ICODE_2_17_PROD %>';
            getVoucherOrderItemInfo(fENV, ICODE, $('input[name="OrderId_2_17"]').val());
        });

        function getVoucherOrderItemInfo(fENV, ICODE, OrderId) {
            var win = window.open('/ticket/voucher-order-item-info?fENV=' + fENV + '&iCode=' + ICODE +
                '&OrderId=' + OrderId +
                '&DistributionChannelID=9', '_blank');
            win.focus();
        }

        //2.18
        $('#getOrderRefundList_test_press').click(function(e) {
            var fENV = '测试';
            var ICODE = '<%= global.ICODE_2_18_TEST %>';
            getOrderRefundList(fENV, ICODE, $('input[name="OrderId_2_18"]').val());
        });
        $('#getOrderRefundList_prod_press').click(function(e) {
            var fENV = '生产';
            var ICODE = '<%= global.ICODE_2_18_PROD %>';
            getOrderRefundList(fENV, ICODE, $('input[name="OrderId_2_18"]').val());
        });

        function getOrderRefundList(fENV, ICODE, OrderId) {
            var win = window.open('/ticket/order-refund-list?fENV=' + fENV + '&iCode=' + ICODE +
                '&OrderId=' + OrderId +
                '&DistributionChannelID=9', '_blank');
            win.focus();
        }


    });
    </script>
</div>
