<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <script src="libs/jquery.json-viewer.js"></script>
  <link href="css/jquery.json-viewer.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <title><%= global.PKG_TITLE %></title>
  <script type="text/javascript">
    $(function(){
      try {
        var input = eval('(' + $('#json-input').val() + ')');
      }
      catch (error) {
        return alert("Cannot eval JSON: " + error);
      }
      var options = {
        collapsed: $('#collapsed').is(':checked'),
        withQuotes: $('#with-quotes').is(':checked')
      };
      $('#json-renderer').jsonViewer(input, options);
    });
  </script>
</head>

<body>

<h3>Ticket Query</h3>
        <form action="/ticket-query" method="get">
          <div class="form-group">
            <label for="SSID" class="control-label">景点 ID</label>
            <input type="text" class="form-control" id="SSID" name="SSID" value="<%= SSID %>">
          </div>
          <input type="hidden" class="form-control" id="fENV" name="fENV" value="<%= ENV %>">
          <input type="hidden" class="form-control" id="iCode" name="iCode" value="<%= ICODE %>">
          <input type="submit" class="btn btn-info" value="查询">
<!--           <button id="ticketList_test_press" class="btn btn-success" href="#" type="button">测试</button>
          <button id="ticketList_prod_press" class="btn btn-primary" href="#" type="button">生产</button> -->
        </form>
        <pre id="json-renderer"></pre>

        <textarea id="json-input" autocomplete="off">
          <%= JSONSTRING %>
        </textarea>

        <hr>
        <button id="btn-json-viewer" title="run jsonViewer()">Sync</button>

</body>
</html>