<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= global.PKG_TITLE %></title>
    <link rel="stylesheet" href="./libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./libs/bootstrap/bootstrap-theme.min.css">
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"-->
    <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"-->
    <!-- <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css"> -->
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= global.PKG_TITLE %></a>
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="active">
                      <a href="#ticketAPI" data-toggle="tab">门票业务(Ticket) API</a>
                    </li>
                    <li>
                      <a href="#activityAPI" data-toggle="tab">玩乐业务(Activity)API</a>
                    </li>
                    <li>
                      <a href="#ticketQuery" data-toggle="tab">国际专车接送机业务API</a>
                    </li>
                    <li>
                      <a href="#returnOrderAPI" data-toggle="tab">订单详情查询接口</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="ticketAPI">
                      <%- include ./partials/ticket-api.ejs %>
                    </div>
                    <div class="tab-pane" id="activityAPI">
                      <%- include ./partials/activity-api.ejs %>
                    </div>
                    <div class="tab-pane" id="ticketQuery">
                      <%# include ./partials/ticket-query.ejs %>
                    </div>
                    <div class="tab-pane" id="returnOrderAPI">
                      <%- include ./partials/returnOrder-api.ejs %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="authModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">返回参数</h4>
          </div> -->
          <div class="modal-body">
            <form class="form-horizontal">
              <fieldset>
                <legend>返回参数</legend>
               <div class="form-group">
                  <label for="rAID" class="col-lg-2 control-label">AID</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="rAID">
                  </div>
                </div>
                <div class="form-group">
                  <label for="rSID" class="col-lg-2 control-label">SID</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="rSID">
                  </div>
                </div>
                <div class="form-group">
                  <label for="rAccess_Token" class="col-lg-2 control-label">Access_Token</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="rAccess_Token">
                  </div>
                </div>
                <div class="form-group">
                  <label for="rExpires_In" class="col-lg-2 control-label">Expires_In</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="rExpires_In">
                  </div>
                </div>
                <div class="form-group">
                  <label for="rRefresh_Token" class="col-lg-2 control-label">Refresh_Token</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="rRefresh_Token">
                  </div>
                </div>
              </form>
              </fieldset>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">確定</button>
          </div>
        </div>

      </div>
    </div>

    <!--script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script-->
    <!--script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script-->
    <script src="./libs/jquery-3.1.1.min.js"></script>
    <script src="./libs/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {

        $('#auth_press').click(function(e){
          e.preventDefault();
          console.log('auth_press clicked');

          var data = {};
          console.log(data);

          $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: '/ticket/auth',
              success: function(data) {
                console.log('success');
                console.log(JSON.stringify(data));
                $('#rAID').val(data.AID);
                $('#rSID').val(data.SID);
                $('#rAccess_Token').val(data.Access_Token);
                $('#rExpires_In').val(data.Expires_In);
                $('#rRefresh_Token').val(data.Refresh_Token);

                $('#fAccess_Token').val(data.Access_Token);
                $('#fRefresh_Token').val(data.Refresh_Token);

                $('#authModal').modal('show');
                $('#authModal').on('hidden.bs.modal', function () {
                })
              }
          });
        });

        $('#auth_refresh').click(function(e){
          e.preventDefault();
          console.log('auth_refresh clicked');

          var data = {};
          console.log(data);

          $.ajax({
            type: 'POST',
            data: JSON.stringify(data),
            contentType: 'application/json',
            url: '/ticket/refresh?token=' + $('#fRefresh_Token').val(),
              success: function(data) {
                console.log('success');
                console.log(JSON.stringify(data));
                $('#rAID').val(data.AID);
                $('#rSID').val(data.SID);
                $('#rAccess_Token').val(data.Access_Token);
                $('#rExpires_In').val(data.Expires_In);
                $('#rRefresh_Token').val(data.Refresh_Token);

                $('#fAccess_Token').val(data.Access_Token);
                $('#fRefresh_Token').val(data.Refresh_Token);

                $('#authModal').modal('show');
                $('#authModal').on('hidden.bs.modal', function () {
                })
              }
          });
        });

      });
    </script>
</body>
</html>