<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">

  <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <script src="libs/jquery.json-viewer.js"></script>
  <link href="css/jquery.json-viewer.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <title><%= global.FUNC_NM_2_4 %>(<%= ENV %>)</title>
  <script type="text/javascript">
    $(function(){       
      try {
        var input = eval('(' + $('#json-input').val() + ')');
      }
      catch (error) {
        return alert("Cannot eval JSON: " + error);
      }
      var options = {
        collapsed: $('#collapsed').is(':checked'),
        withQuotes: $('#with-quotes').is(':checked')
      };
      $('#json-renderer').jsonViewer(input, options);       
      });
  </script>
</head>

<body>
  <div class="container">
    <div class="navbar-inverse row content">
      <table width="100%">
        <tr>
          <td>
            <h2><font color="white"><%= global.PKG_TITLE %> - <%= global.FUNC_NM_2_4 %>(<%= ENV %>) </font></h2>
          </td>
          <td>
          <button onclick="window.close();" class="btn btn-danger btn-lg" type="button" style="float: right; vertical-align: middle;">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
          </td>
        </tr>
      </table>
    </div>

    <div class="row content">
      <div class="col-sm-3 sidenav">
          <form action="/ticketList" method="get">
            <div class="form-group">
              <label for="fLUT" class="control-label">LastUpdateTime</label>
              <input type="text" class="form-control" id="fLUT" name="fLUT" value="<%= RDATA.LastUpdateTime %>">
            </div>
            <div class="form-group">
              <label for="Limit" class="control-label">Limit</label>
              <input type="text" class="form-control" id="Limit" name="Limit" value="<%= RDATA.Limit %>">
            </div>
            <div class="form-group">
              <label for="CanSaleExtend" class="control-label">CanSaleExtend</label>
              <input type="text" class="form-control" id="CanSaleExtend" name="CanSaleExtend" value="<%= RDATA.CanSaleExtend %>">
            </div>          
            <input type="hidden" class="form-control" id="fENV" name="fENV" value="<%= ENV %>">
            <input type="hidden" class="form-control" id="iCode" name="iCode" value="<%= ICODE %>">
            <input type="submit" class="btn btn-info" value="查询">
          </form>
      </div>

      <div class="col-sm-9">
        <h3><%= global.FUNC_DESC_2_4 %></h3>
        
        <hr>
        
        <pre id="json-renderer"></pre>
        
        <textarea id="json-input" autocomplete="off">
            <%= JSONSTRING %>
        </textarea>

        <hr>
        <button id="btn-json-viewer" title="run jsonViewer()">Sync</button>
      </div>
    </div>
  </div> <!-- /container -->
</body>
</html>