<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../libs/json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">
    <title>
        <%= global.FUNC_NM_2_16 %>(<%= ENV %>)</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <%= global.PKG_TITLE %> - <%= global.FUNC_NM_2_16 %>(<%= ENV %>)</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" onclick="window.close();">關閉</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row content">
            <div class="col-sm-4 sidenav well">
                <form action="./cancel-order" method="GET">
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess">OrderId</label>
                        <input type="text" class="form-control" id="inputSuccess" name="OrderId" value="<%= RDATA.OrderId %>">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Reason">Reason</label>
                        <input type="text" class="form-control" id="Reason" name="Reason" value="<%= RDATA.Reason %>">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Remark">Remark</label>
                        <input type="text" class="form-control" id="Remark" name="Remark" value="<%= RDATA.Remark %>">
                    </div>
                    <div class="form-group">
                        <label for="AllianceID" class="control-label">AllianceID</label>
                        <input type="text" class="form-control" id="AllianceID" name="AllianceID" value="<%= RDATA.AllianceID %>">
                    </div>
                    <div class="form-group">
                        <label for="SID" class="control-label">SID</label>
                        <input type="text" class="form-control" id="SID" name="SID" value="<%= RDATA.SID %>">
                    </div>
                    <fieldset>
                        <h5>OrderItemIDs 销货单信息集合</h5>
                        <div class="form-group">
                            <label for="OrderItemID" class="col-lg-3 control-label">OrderItemID</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="OrderItemID" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Quantity" class="col-lg-3 control-label">Quantity</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="Quantity" value="">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h5>OrderVerifys 取消订单验证条件集合</h5>
                        <div class="form-group">
                            <label for="VerifyKey" class="col-lg-3 control-label">VerifyKey</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="VerifyKey" value="UID">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="VerifyValue" class="col-lg-3 control-label">VerifyValue</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="VerifyValue" value="5be652a1-efca-4159-a82f-8122884d6f08">
                                <p class="text-info">参考 2.12 - 用户 UID 生成</p>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label class="control-label" for="CancelType">CancelType</label>
                        <input type="text" class="form-control" id="CancelType" name="CancelType" value="0">
                        <ul stlye="list-style: none;">
                          <li>0: 自定义</li>
                          <li>1: 确认超时</li>
                          <li>2: 行程不确定</li>
                          <li>3: 价格原因</li>
                          <li>4: 信息错误重新预定</li>
                          <li>5: 重复预定</li>
                          <li>6: 预定流程不方便</li>
                          <li>7: 变更流程不方便</li>
                          <li>8: 支付遇到问题</li>
                        </ul>
                    </div>
                    <input type="hidden" class="form-control" id="fENV" name="fENV" value="<%= ENV %>">
                    <input type="hidden" class="form-control" id="iCode" name="iCode" value="<%= ICODE %>">
                    <input type="submit" class="btn btn-primary btn-sm pull-right" value="查询">
                </form>
            </div>
            <div class="col-sm-8">
                <div class="page-header">
                    <h3><%= global.FUNC_DESC_2_16 %></h3>
                </div>
                <pre id="json-renderer" style="padding:2em;"></pre>
                <hr>
                <div id="json-input" class="well well-sm" style="overflow: auto">
                    <%= JSONSTRING %>
                </div>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- /container -->
    <script src="../libs/jquery-3.1.1.min.js"></script>
    <script src="../libs/bootstrap/bootstrap.min.js"></script>
    <script src="../libs/json-viewer/jquery.json-viewer.js"></script>
    <script type="text/javascript">
    $(function() {
        var options = {
            collapsed: $('#collapsed').is(':checked'),
            withQuotes: $('#with-quotes').is(':checked')
        };
        $('#json-renderer').jsonViewer(JSON.parse($('#json-input').text()), options);
    });
    </script>
</body>

</html>
