<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../libs/json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="//bootswatch.com/paper/bootstrap.min.css">
    <title>
        <%= global.FUNC_NM_2_11 %>(<%= ENV %>)</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <%= global.PKG_TITLE %> - <%= global.FUNC_NM_2_11 %>(<%= ENV %>)</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" onclick="window.close();">關閉</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row well">
            <form class="form-horizontal">
                <div class="col-md-4">
                    <fieldset>
                        <h5>UserInfo 用户信息</h5>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-3 control-label">UID</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" id="UID" value="5be652a1-efca-4159-a82f-8122884d6f08">
                                <p class="text-info">参考 2.12 - 用户 UID 生成</p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h5>OrderFormInfo 订单信息 </h5>
                        <div class="form-group">
                            <label for="Distributor_OrderID" class="col-lg-4 control-label">Distributor_OrderID</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="Distributor_OrderID" value="">
                            </div>
                            <label for="DistributionChannelID" class="col-lg-4 control-label">DistributionChannelID</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="DistributionChannelID" value="9">
                            </div>
                            <label for="ScenicSpotID" class="col-lg-4 control-label">ScenicSpotID</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="ScenicSpotID" value="758">
                            </div>
                            <label for="PayMode" class="col-lg-4 control-label">PayMode</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="PayMode" value="P">
                            </div>
                            <label for="ThirdPatType" class="col-lg-4 control-label">ThirdPatType</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="ThirdPatType" value="0">
                            </div>
                            <label for="PeopleNumber" class="col-lg-4 control-label">PeopleNumber</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="PeopleNumber" value="2">
                            </div>
                            <label for="Amount" class="col-lg-4 control-label">Amount</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="Amount" value="50">
                            </div>
                            <label for="ServerFrom" class="col-lg-4 control-label">ServerFrom</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="ServerFrom" value="www.eztravel.com.tw">
                            </div>
                        </div>
                        <h6>ResourceInfoList</h6>
                        <div class="form-group">
                            <label for="ResourceID" class="col-lg-4 control-label">ResourceID</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="ResourceID" value="227172">
                            </div>
                            <label for="UseDate" class="col-lg-4 control-label">UseDate</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="UseDate" value="2016-12-01T00:00:00">
                            </div>
                            <label for="Quantity" class="col-lg-4 control-label">Quantity</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="Quantity" value="1">
                            </div>
                            <label for="Price" class="col-lg-4 control-label">Price</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="Price" value="50">
                            </div>
                        </div>
                        <h6>ItemAddInfos</h6>
                        <div class="form-group">
                            <label for="ResourceOrderExtendInfoID" class="col-lg-6 control-label">ResourceOrderExtendInfoID</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control input-sm" id="ResourceOrderExtendInfoID" value="">
                            </div>
                            <label for="AddInfoDetails" class="col-lg-4 control-label">AddInfoDetails</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="AddInfoDetails" value="">
                            </div>
                            <label for="ID" class="col-lg-4 control-label">ID</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="ID" value="">
                            </div>
                            <label for="Content" class="col-lg-4 control-label">Content</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="Content" value="">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <fieldset>
                        <h5>AllianceInfo 分销商信息</h5>
                        <div class="form-group">
                            <label for="AllianceID" class="col-lg-3 control-label">AllianceID</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" id="AllianceID" value="<%= global.iAID %>">
                            </div>
                            <label for="SID" class="col-lg-3 control-label">SID</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" id="SID" value="<%= global.iSID %>">
                            </div>
                            <label for="OUID" class="col-lg-3 control-label">OUID</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" id="OUID" value="123456">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h5>ContactInfo 订单联系人信息</h5>
                        <div class="form-group">
                            <label for="Name" class="col-lg-3 control-label">Name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" id="Name" value="王羽泽">
                            </div>
                            <label for="Tel" class="col-lg-3 control-label">Tel</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" id="Tel" value="10106666">
                            </div>
                            <label for="Fax" class="col-lg-3 control-label">Fax</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" id="Fax" value="15215478953">
                            </div>
                            <label for="Mobile" class="col-lg-3 control-label">Mobile</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" id="Mobile" value="15215478953">
                            </div>
                            <label for="Email" class="col-lg-3 control-label">Email</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" id="Email" value="ctrip@ctrip.com">
                            </div>
                            <label for="Address" class="col-lg-3 control-label">Address</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" id="Address" value="长宁区福泉99号">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4">
                    <fieldset>
                        <h5>PassengerInfoList 旅客信息列表</h5>
                        <div class="form-group">
                            <label for="CName" class="col-lg-4 control-label">CName</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="CName" value="王贺">
                            </div>
                            <label for="IdCardNo" class="col-lg-4 control-label">IdCardNo</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="IdCardNo" value="110000198506144557">
                            </div>
                            <label for="IdCardType" class="col-lg-4 control-label">IdCardType</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="IdCardType" value="2">
                            </div>
                            <label for="AgeType" class="col-lg-4 control-label">AgeType</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="AgeType" value="ADU">
                            </div>
                            <label for="BirthDate" class="col-lg-4 control-label">BirthDate</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="BirthDate" value="2015-12-01T00:00:00">
                            </div>
                            <label for="BirthCity" class="col-lg-4 control-label">BirthCity</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="BirthCity" value="上海">
                            </div>
                            <label for="CardCity" class="col-lg-4 control-label">CardCity</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="CardCity" value="北京">
                            </div>
                            <label for="EName" class="col-lg-4 control-label">EName</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="EName" value="Tom">
                            </div>
                            <label for="ContactInfo" class="col-lg-4 control-label">ContactInfo</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="ContactInfo" value="15215478953">
                            </div>
                            <label for="Gender" class="col-lg-4 control-label">Gender</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="Gender" value="">
                            </div>
                            <label for="VisaOrgan" class="col-lg-4 control-label">VisaOrgan</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="VisaOrgan" value="">
                            </div>
                            <label for="PassportDate" class="col-lg-4 control-label">PassportDate</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="PassportDate" value="">
                            </div>
                            <label for="VisaCountry" class="col-lg-4 control-label">VisaCountry</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="VisaCountry" value="">
                            </div>
                            <label for="PassportNo" class="col-lg-4 control-label">PassportNo</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="PassportNo" value="">
                            </div>
                            <label for="IssueDate" class="col-lg-4 control-label">IssueDate</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="IssueDate" value="2015-12-01T00:00:00">
                            </div>
                            <label for="IdCardTimeLimit" class="col-lg-4 control-label">IdCardTimeLimit</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="IdCardTimeLimit" value="2015-12-01T00:00:00">
                            </div>
                            <label for="passportType" class="col-lg-4 control-label">passportType</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="passportType" value="">
                            </div>
                            <label for="Nationlity" class="col-lg-4 control-label">Nationlity</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="Nationlity" value="">
                            </div>
                            <label for="ResourceID" class="col-lg-4 control-label">ResourceID</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control input-sm" id="ResourceID" value="">
                            </div>
                        </div>
                        <input type="button" class="btn btn-primary pull-right" value="查询" id="create-order-btn">
                    </fieldset>
                </div>
            </form>
        </div>
        <div class="row">
            <div>
                <!-- <div class="col-sm-7"> -->
                <div class="page-header">
                    <h3><%= global.FUNC_DESC_2_11 %></h3>
                </div>
                <pre id="json-renderer" style="padding:2em"></pre>
                <hr>
                <div id="json-input" class="well well-sm" style="overflow: auto">
                    <%= JSONSTRING %>
                </div>
                <!-- <button id="btn-json-viewer" title="run jsonViewer()" class="btn btn-primary btn-sm">Sync</button> -->
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- /container -->
    <script src="../libs/jquery-3.1.1.min.js"></script>
    <script src="../libs/bootstrap/bootstrap.min.js"></script>
    <script src="../libs/json-viewer/jquery.json-viewer.js"></script>
    <script src="../jss/order-info.js"></script>
    <script type="text/javascript">
    $(function() {
        var options = {
            collapsed: $('#collapsed').is(':checked'),
            withQuotes: $('#with-quotes').is(':checked')
        };

        var responseData = $('#json-input').text();
        try {
            if (responseData.trim().length) {
                $('#json-renderer').jsonViewer(JSON.parse(responseData), options);
            }
        } catch (e) {
            console.log(e)
        }

        $('#Distributor_OrderID').val(guid()); //訂單編號.

        $('#create-order-btn').on('click', function() {
            var $createOrderBtn = $(this);

            var userInfo = new UserInfo($('#UID').val());
            var itemAddInfos = new ItemAddInfos(
                $('#ResourceOrderExtendInfoID').val(),
                $('#AddInfoDetails').val(),
                $('#ID').val(),
                $('#Content').val()
            );

            var resourceInfoList = new ResourceInfoList(
                $('#ResourceID').val(),
                $('#UseDate').val(),
                $('#Quantity').val(),
                $('#Price').val(),
                itemAddInfos
            );
            var orderFormInfo = new OrderFormInfo(
                $('#Distributor_OrderID').val(),
                $('#DistributionChannelID').val(),
                $('#ScenicSpotID').val(),
                $('#PayMode').val(),
                $('#ThirdPatType').val(),
                $('#PeopleNumber').val(),
                $('#Amount').val(),
                $('#ServerFrom').val(),
                resourceInfoList
            );
            var allianceInfo = new AllianceInfo(
                $('#AllianceID').val(),
                $('#SID').val(),
                $('#OUID').val()
            );
            var contactInfo = new ContactInfo(
                $('#Name').val(),
                $('#Tel').val(),
                $('#Fax').val(),
                $('#Mobile').val(),
                $('#Email').val(),
                $('#Address').val()
            );
            var passengerInfoList = new PassengerInfoList(
                $('#CName').val(),
                $('#IdCardNo').val(),
                $('#IdCardType').val(),
                $('#AgeType').val(),
                $('#BirthDate').val(),
                $('#BirthCity').val(),
                $('#CardCity').val(),
                $('#EName').val(),
                $('#ContactInfo').val(),
                $('#Gender').val(),
                $('#VisaOrgan').val(),
                $('#PassportDate').val(),
                $('#VisaCountry').val(),
                $('#PassportNo').val(),
                $('#IssueDate').val(),
                $('#IdCardTimeLimit').val(),
                $('#PassportType').val(),
                $('#Nationlity').val(),
                $('#ResourceID').val()
            );
            var orderInfo = new OrderInfo(userInfo, orderFormInfo, allianceInfo, contactInfo, passengerInfoList);
            console.log(JSON.stringify(orderInfo))
            $('#order').val(JSON.stringify(orderInfo));
            // $('#create-order').submit();
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: '/ticket/create-order',
                dataType: "json",
                data: JSON.stringify({
                    fENV: "<%= ENV %>",
                    iCode: "<%= ICODE %>",
                    order: orderInfo
                }),
                beforeSend: function() {
                    $createOrderBtn.button('loading');
                    $('#json-input').text();
                    $('#json-renderer').empty();
                },
                complete: function() {
                    $createOrderBtn.button('reset');
                },
                success: function(data, textStatus, jqXHR) {
                    $('#json-input').text(data.JSONSTRING);
                    $('#json-renderer').jsonViewer(JSON.parse(data.JSONSTRING), options);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error(textStatus)
                },
            });

        });

    });

    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000).toString(16).substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }
    </script>
</body>

</html>
