<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../libs/json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">
    <title><%= global.FUNC_NM_2_12 %>(<%= ENV %>)</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><%= global.PKG_TITLE %> - <%= global.FUNC_NM_2_12 %>(<%= ENV %>)</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" onclick="window.close();">關閉</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row content">
            <div class="col-sm-3 sidenav well">
                <form action="./generate-uid" method="get">
                    <div class="form-group">
                        <label class="control-label" for="inputSuccess">TelphoneNumber</label>
                        <input type="text" class="form-control" id="inputSuccess" name="TelphoneNumber" value="<%= RDATA.TelphoneNumber %>">
                    </div>
                    <div class="form-group">
                        <label for="AllianceID" class="control-label">AllianceID</label>
                        <input type="text" class="form-control" id="AllianceID" name="AllianceID" value="<%= RDATA.AllianceID %>">
                    </div>
                    <div class="form-group">
                        <label for="SID" class="control-label">SID</label>
                        <input type="text" class="form-control" id="SID" name="SID" value="<%= RDATA.SID %>">
                    </div>
                    <input type="hidden" class="form-control" id="fENV" name="fENV" value="<%= ENV %>">
                    <input type="hidden" class="form-control" id="iCode" name="iCode" value="<%= ICODE %>">
                    <input type="submit" class="btn btn-primary btn-sm pull-right" value="查询">
                </form>
            </div>
            <div class="col-sm-9">
                <div class="page-header">
                    <h3><%= global.FUNC_DESC_2_12 %></h3>
                </div>
                <pre id="json-renderer" style="padding:2em;"></pre>
                <hr>
                <div id="json-input" class="well well-sm" style="overflow: auto">
                    <%= JSONSTRING %>
                </div>
                <!-- <button id="btn-json-viewer" title="run jsonViewer()" class="btn btn-primary btn-sm">Sync</button> -->
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- /container -->
    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
    <script src="../libs/bootstrap/bootstrap.min.js"></script>
    <script src="../libs/json-viewer/jquery.json-viewer.js"></script>
    <script type="text/javascript">
    $(function() {
        var options = {
            collapsed: $('#collapsed').is(':checked'),
            withQuotes: $('#with-quotes').is(':checked')
        };
        $('#json-renderer').jsonViewer(JSON.parse($('#json-input').text()), options);
    });
    </script>
</body>

</html>
