<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../libs/json-viewer/jquery.json-viewer.css">
    <link rel="stylesheet" href="../libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">
    <title>
        <%= global.FUNC_NM_2_10 %>(<%= ENV %>)</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <%= global.PKG_TITLE %> - <%= global.FUNC_NM_2_10 %>(<%= ENV %>)</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" onclick="window.close();">關閉</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row content">
            <div class="col-sm-4 sidenav well">
                <form class="form-horizontal" action="./resource-order-check" method="GET">
                    <fieldset>
                        <h5>ResourceInfoList 可选项列表</h5>
                        <div class="form-group">
                            <label for="ResourceID" class="col-lg-3 control-label">ResourceID</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="ResourceID" value="227172">
                            </div>
                            <label for="Quantity" class="col-lg-3 control-label">Quantity</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="Quantity" value="1">
                            </div>
                            <label for="UseDate" class="col-lg-3 control-label">UseDate</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="UseDate" value="2016-12-01T00:00:00">
                            </div>
                            <label for="Price" class="col-lg-3 control-label">Price</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="Price" value="50">
                            </div>
                            <label for="CtripPrice" class="col-lg-3 control-label">CtripPrice</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="CtripPrice" value="50">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h5>UserInfo 用户信息</h5>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-3 control-label">UID</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="UID" value="5be652a1-efca-4159-a82f-8122884d6f08">
                                <p class="text-info">参考 2.12 - 用户 UID 生成</p>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h5>ContactInfo 联系人信息</h5>
                        <div class="form-group">
                            <label for="Name" class="col-lg-3 control-label">Name</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="Name" value="Ian">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Mobile" class="col-lg-3 control-label">Mobile</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="Mobile" value="15215478953">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email" class="col-lg-3 control-label">Email</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="Email" value="ianliao@eztravel.com.tw">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h5>PassenerInfoList 出行人信息</h5>
                        <div class="form-group">
                            <label for="CName" class="col-lg-3 control-label">CName</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="CName" value="王贺">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EName" class="col-lg-3 control-label">EName</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="EName" value="Andy">
                                <p class="text-danger">注意:文件沒有此參數</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ContactInfo" class="col-lg-3 control-label">ContactInfo</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="ContactInfo" value="15215478953">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="IdCardType" class="col-lg-3 control-label">IdCardType</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="IdCardType" value="2">
                                <p class="text-danger">ResourceID(227172)(簡訊),請填2</p>
                                <p class="text-danger">ResourceID(5540782)(邮箱确认单),請填1</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="IdCardNo" class="col-lg-3 control-label">IdCardNo</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control input-sm" name="IdCardNo" value="110000198506144557">
                            </div>
                        </div>
                    </fieldset>
                    <br>
                    <br>
                    <div class="form-group">
                        <label for="Amount" class="col-lg-3 control-label">Amount</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control input-sm" name="Amount" value="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PayMode" class="col-lg-3 control-label">PayMode</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control input-sm" name="PayMode" value="P">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DistributionChannelID" class="col-lg-3 control-label">Distribution Channel ID</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control input-sm" name="DistributionChannelID" value="<%= RDATA.DistributionChannelID %>">
                        </div>
                    </div>
                    <input type="hidden" class="form-control" id="fENV" name="fENV" value="<%= ENV %>">
                    <input type="hidden" class="form-control" id="iCode" name="iCode" value="<%= ICODE %>">
                    <input type="submit" class="btn btn-primary btn-sm pull-right" value="查询">
                </form>
            </div>
            <div class="col-sm-8">
                <div class="page-header">
                    <h3><%= global.FUNC_DESC_2_10 %></h3>
                </div>
                <pre id="json-renderer" style="padding:2em;"></pre>
                <hr>
                <div id="json-input" class="well well-sm" style="overflow: auto">
                    <%= JSONSTRING %>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                      <pre style="padding:2em;">
{
  "ResourceInfoList": [
    {
      "ResourceID": 5540782,
      "Quantity": 1,
      "UseDate": "/Date(1480521600000-0000)/",
      "Price": 350,
      "CtripPrice": 350
    }
  ],
  "UID": "5be652a1-efca-4159-a82f-8122884d6f08",
  "ContactInfo": {
    "Name": " Ian",
    "Mobile": "13333333333"
  },
  "PassenerInfoList": [
    {
      "CName": " 王贺",
      "ContactInfo": "15215478953",
      "IdCardType": 1,
      "IdCardNo": "110000198506144557"
    }
  ],
  "Amount": 350,
  "PayMode": "P",
  "DistributionChannelID": 9,
  "AllianceID": 262753,
  "SID": 711534
}
                      </pre>
                  </div>
                  <div class="col-sm-6">
                      <pre style="padding:2em;">
{
  "ResourceInfoList": [
    {
      "ResourceID": 227172,
      "Quantity": 1,
      "UseDate": "/Date(1480521600000-0000)/",
      "Price": 50,
      "CtripPrice": 50
    }
  ],
  "UID": "5be652a1-efca-4159-a82f-8122884d6f08",
  "ContactInfo": {
    "Name": " Ian",
    "Mobile": "13333333333"
  },
  "PassenerInfoList": [
    {
      "CName": " 王贺",
      "EName": " Andy",
      "ContactInfo": "15215478953",
      "IdCardType": 2,
      "IdCardNo": "110000198506144557"
    }
  ],
  "Amount": 50,
  "PayMode": "P",
  "DistributionChannelID": 9,
  "AllianceID": 262753,
  "SID": 711534
}
                    </pre>
                  </div>
              </div>


                <!-- <button id="btn-json-viewer" title="run jsonViewer()" class="btn btn-primary btn-sm">Sync</button> -->
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- /container -->
    <script src="../libs/jquery-3.1.1.min.js"></script>
    <script src="../libs/bootstrap/bootstrap.min.js"></script>
    <script src="../libs/json-viewer/jquery.json-viewer.js"></script>
    <script type="text/javascript">
    $(function() {
        var options = {
            collapsed: $('#collapsed').is(':checked'),
            withQuotes: $('#with-quotes').is(':checked')
        };
        $('#json-renderer').jsonViewer(JSON.parse($('#json-input').text()), options);
    });
    </script>
</body>

</html>
