<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../libs/json-viewer/jquery.json-viewer.css" type="text/css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="//bootswatch.com/paper/bootstrap.min.css">
    <title><%= API_METADATA.name %>(<%= ENV %>)</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><%= global.PKG_TITLE %> - <%= API_METADATA.name %>(<%= ENV %>)</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" onclick="window.close();">關閉</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row content">
            <div class="col-sm-5 sidenav well">
                <form class="form-horizontal" action="<%= API_METADATA.url %>" method="get">
                    <fieldset>
                        <h5>DistributorOrderID 分销商订单ID</h5>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">DistributorOrderID</label>
                            <div class="col-lg-8" style="float:right;">
                                <input type="text" class="form-control" id="DistributorOrderID" value="<%= RDATA['DistributorOrderID'] %>">
                            </div>
                        </div>
                        <h5>支付方式 0-押金方式；1：支付宝代扣</h5>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">ThirdPayType</label>
                            <div class="col-lg-8" style="float:right;">
                                <input type="text" class="form-control" id="ThirdPayType" value="<%= RDATA['ThirdPayType'] %>">
                            </div>
                        </div>
                        <h5>渠道号(固定为9)</h5>
                        <div class="form-group">
                            <label for="DistributionChannelID" class="col-lg-2 control-label">DistributionChannelID</label>
                            <div class="col-lg-7" style="float:right;">
                                <input type="text" class="form-control" id="DistributionChannelID" value="9" readonly="readonly">
                            </div>
                        </div>
                        <h5>AllianceInfo 分销商信息</h5>
                        <div class="form-group">
                            <label for="AllianceID" class="col-lg-2 control-label">AllianceID</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="AllianceID" value="<%= RDATA['AllianceInfo']['AllianceID'] %>">
                            </div>
                            <label for="SID" class="col-lg-2 control-label">SID</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="SID" value="<%= RDATA['AllianceInfo']['SID'] %>">
                            </div>
                            <label for="UserID" class="col-lg-2 control-label">UserID</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="UserID" value="<%= RDATA['AllianceInfo']['UserID'] %>">
                            </div>
                            <label for="OUID" class="col-lg-2 control-label">OUID</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="OUID" value="<%= RDATA['AllianceInfo']['OUID'] %>">
                            </div>
                        </div>
                        <h5>ContactInfo 联系人信息</h5>
                        <div class="form-group">
                            <label for="ContactName" class="col-lg-2 control-label">ContactName</label>
                            <div class="col-lg-7" style="float:right;">
                                <input type="text" class="form-control" id="ContactName" value="<%= RDATA['ContactInfo']['ContactName'] %>">
                            </div>
                            <label for="ContactMobile" class="col-lg-2 control-label">ContactMobile</label>
                            <div class="col-lg-7" style="float:right;">
                                <input type="text" class="form-control" id="ContactMobile" value="<%= RDATA['ContactInfo']['ContactMobile'] %>">
                            </div>
                            <label for="Longitude" class="col-lg-2 control-label">Longitude</label>
                            <div class="col-lg-7" style="float:right;">
                                <input type="text" class="form-control" id="Longitude" value="<%= RDATA['ContactInfo']['Longitude'] %>">
                            </div>
                            <label for="Latitude" class="col-lg-2 control-label">Latitude</label>
                            <div class="col-lg-7" style="float:right;">
                                <input type="text" class="form-control" id="Latitude" value="<%= RDATA['ContactInfo']['Latitude'] %>">
                            </div>
                            <label for="SourceID" class="col-lg-2 control-label">SourceID</label>
                            <div class="col-lg-7" style="float:right;">
                                <input type="text" class="form-control" id="SourceID" value="<%= RDATA['ContactInfo']['SourceID'] %>">
                            </div>
                            <label for="ContactTel" class="col-lg-2 control-label">ContactTel</label>
                            <div class="col-lg-7" style="float:right;">
                                <input type="text" class="form-control" id="ContactTel" value="<%= RDATA['ContactInfo']['ContactTel'] %>">
                            </div>
                            <label for="ContactFax" class="col-lg-2 control-label">ContactFax</label>
                            <div class="col-lg-7" style="float:right;">
                                <input type="text" class="form-control" id="ContactFax" value="<%= RDATA['ContactInfo']['ContactFax'] %>">
                            </div>
                            <label for="ContactEmail" class="col-lg-2 control-label">ContactEmail</label>
                            <div class="col-lg-7" style="float:right;">
                                <input type="text" class="form-control" id="ContactEmail" value="<%= RDATA['ContactInfo']['ContactEmail'] %>">
                            </div>
                            <label for="ContactAddress" class="col-lg-2 control-label">ContactAddress</label>
                            <div class="col-lg-7" style="float:right;">
                                <input type="text" class="form-control" id="ContactAddress" value="<%= RDATA['ContactInfo']['ContactAddress'] %>">
                            </div>
                        </div>
                        <h5>OrderDeliverInfo 配送信息 </h5>
                        <div class="form-group">
                            <label for="DeliverType" class="col-lg-4 control-label">DeliverType</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="DeliverType" value="<%= RDATA['OrderDeliverInfo']['DeliverType'] %>">
                            </div>
                            <label for="ContactTel" class="col-lg-4 control-label">ContactTel</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="ContactTel" value="<%= RDATA['OrderDeliverInfo']['ContactTel'] %>">
                            </div>
                            <label for="Address" class="col-lg-4 control-label">Address</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Address" value="<%= RDATA['OrderDeliverInfo']['Address'] %>">
                            </div>
                            <label for="ReceiverName" class="col-lg-4 control-label">ReceiverName</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="ReceiverName" value="<%= RDATA['OrderDeliverInfo']['ReceiverName'] %>">
                            </div>
                            <label for="PostCode" class="col-lg-4 control-label">PostCode</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="PostCode" value="<%= RDATA['OrderDeliverInfo']['PostCode'] %>">
                            </div>
                            <label for="CityName" class="col-lg-4 control-label">CityName</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="CityName" value="<%= RDATA['OrderDeliverInfo']['CityName'] %>">
                            </div>
                            <label for="IsNeedInvoice" class="col-lg-4 control-label">IsNeedInvoice</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="IsNeedInvoice" value="<%= RDATA['OrderDeliverInfo']['IsNeedInvoice'] %>">
                            </div>
                            <label for="Detail" class="col-lg-4 control-label">Detail</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Detail" value="<%= RDATA['OrderDeliverInfo']['Detail'] %>">
                            </div>
                            <label for="Title" class="col-lg-4 control-label">Title</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Title" value="<%= RDATA['OrderDeliverInfo']['Title'] %>">
                            </div>
                            <label for="Remark" class="col-lg-4 control-label">Remark</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Remark" value="<%= RDATA['OrderDeliverInfo']['Remark'] %>">
                            </div>
                        </div>
                        <h5>OrderInfo 订单详情</h5>
                        <div class="form-group">
                            <label for="ActivityID" class="col-lg-4 control-label">ActivityID</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="ActivityID" value="<%= RDATA['OrderInfo']['ActivityID'] %>">
                            </div>
                            <label for="ChargeType" class="col-lg-4 control-label">ChargeType</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="ChargeType" value="<%= RDATA['OrderInfo']['ChargeType'] %>">
                            </div>
                            <label for="ServerFrom" class="col-lg-4 control-label">ServerFrom</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="ServerFrom" value="<%= RDATA['OrderInfo']['ServerFrom'] %>">
                            </div>
                            <label for="ChildNumber" class="col-lg-4 control-label">ChildNumber</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="ChildNumber" value="<%= RDATA['OrderInfo']['ChildNumber'] %>">
                            </div>
                            <label for="AdultNumber" class="col-lg-4 control-label">AdultNumber</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="AdultNumber" value="<%= RDATA['OrderInfo']['AdultNumber'] %>">
                            </div>
                            <label for="DepositAmount" class="col-lg-4 control-label">DepositAmount</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="DepositAmount" value="<%= RDATA['OrderInfo']['DepositAmount'] %>">
                            </div>
                            <label for="Amount" class="col-lg-4 control-label">Amount</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Amount" value="<%= RDATA['OrderInfo']['Amount'] %>">
                            </div>
                            <label for="OrderSource" class="col-lg-4 control-label">OrderSource</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="OrderSource" value="<%= RDATA['OrderInfo']['OrderSource'] %>">
                            </div>
                            <label for="ClientIP" class="col-lg-4 control-label">ClientIP</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="ClientIP" value="<%= RDATA['OrderInfo']['ClientIP'] %>">
                            </div>
                            <label for="Remark" class="col-lg-4 control-label">Remark</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Remark" value="<%= RDATA['OrderInfo']['Remark'] %>">
                            </div>
                            <label for="RemarkTitle" class="col-lg-4 control-label">RemarkTitle</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="RemarkTitle" value="<%= RDATA['OrderInfo']['RemarkTitle'] %>">
                            </div>
                            <h6>OptionList</h6>
                            <label for="OptionID" class="col-lg-4 control-label">OptionID</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="OptionID1" value="<%= RDATA['OrderInfo']['OptionList']['OptionID'] %>">
                            </div>
                            <label for="UseDate" class="col-lg-4 control-label">UseDate</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="UseDate" value="<%= RDATA['OrderInfo']['OptionList']['UseDate'] %>">
                            </div>
                            <label for="EndDate" class="col-lg-4 control-label">EndDate</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="EndDate" value="<%= RDATA['OrderInfo']['OptionList']['EndDate'] %>">
                            </div>
                            <label for="Quantity" class="col-lg-4 control-label">Quantity</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Quantity" value="<%= RDATA['OrderInfo']['OptionList']['Quantity'] %>">
                            </div>
                            <label for="Price" class="col-lg-4 control-label">Price</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Price" value="<%= RDATA['OrderInfo']['OptionList']['Price'] %>">
                            </div>
                            <label for="DepositQuantity" class="col-lg-4 control-label">DepositQuantity</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="DepositQuantity" value="<%= RDATA['OrderInfo']['OptionList']['DepositQuantity'] %>">
                            </div>
                            <label for="UnitQuantity" class="col-lg-4 control-label">UnitQuantity</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="UnitQuantity" value="<%= RDATA['OrderInfo']['OptionList']['UnitQuantity'] %>">
                            </div>
                        </div>
                        <h5>PassengerInfoList 乘客信息 </h5>
                        <div class="form-group">
                            <label for="OptionId" class="col-lg-4 control-label">OptionId</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="OptionId2" value="<%= RDATA['PassengerInfoList'][0]['OptionId'] %>">
                            </div>
                            <label for="CustomerInfoId" class="col-lg-4 control-label">CustomerInfoId</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="CustomerInfoId" value="<%= RDATA['PassengerInfoList'][0]['CustomerInfoId'] %>">
                            </div>
                            <label for="CName" class="col-lg-4 control-label">CName</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="CName" value="<%= RDATA['PassengerInfoList'][0]['CName'] %>">
                            </div>
                            <label for="EName" class="col-lg-4 control-label">EName</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="EName" value="<%= RDATA['PassengerInfoList'][0]['EName'] %>">
                            </div>
                            <label for="IdCardNo" class="col-lg-4 control-label">IdCardNo</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="IdCardNo" value="<%= RDATA['PassengerInfoList'][0]['IdCardNo'] %>">
                            </div>
                            <label for="CardCity" class="col-lg-4 control-label">CardCity</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="CardCity" value="<%= RDATA['PassengerInfoList'][0]['CardCity'] %>">
                            </div>
                            <label for="BirthDate" class="col-lg-4 control-label">BirthDate</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="BirthDate" value="<%= RDATA['PassengerInfoList'][0]['BirthDate'] %>">
                            </div>
                            <label for="BirthCity" class="col-lg-4 control-label">BirthCity</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="BirthCity" value="<%= RDATA['PassengerInfoList'][0]['BirthCity'] %>">
                            </div>
                            <label for="AgeType" class="col-lg-4 control-label">AgeType</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="AgeType" value="<%= RDATA['PassengerInfoList'][0]['AgeType'] %>">
                            </div>
                            <label for="IdCardType" class="col-lg-4 control-label">IdCardType</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="IdCardType" value="<%= RDATA['PassengerInfoList'][0]['IdCardType'] %>">
                            </div>
                            <label for="Gender" class="col-lg-4 control-label">Gender</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Gender" value="<%= RDATA['PassengerInfoList'][0]['Gender'] %>">
                            </div>
                            <label for="ContactInfo" class="col-lg-4 control-label">ContactInfo</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="ContactInfo" value="<%= RDATA['PassengerInfoList'][0]['ContactInfo'] %>">
                            </div>
                            <label for="VisaOrgan" class="col-lg-4 control-label">VisaOrgan</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="VisaOrgan" value="<%= RDATA['PassengerInfoList'][0]['VisaOrgan'] %>">
                            </div>
                            <label for="VisaCountry" class="col-lg-4 control-label">VisaCountry</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="VisaCountry" value="<%= RDATA['PassengerInfoList'][0]['VisaCountry'] %>">
                            </div>
                            <label for="PassportType" class="col-lg-4 control-label">PassportType</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="PassportType" value="<%= RDATA['PassengerInfoList'][0]['PassportType'] %>">
                            </div>
                            <label for="PassportNo" class="col-lg-4 control-label">PassportNo</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="PassportNo" value="<%= RDATA['PassengerInfoList'][0]['PassportNo'] %>">
                            </div>
                            <label for="PassportDate" class="col-lg-4 control-label">PassportDate</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="PassportDate" value="<%= RDATA['PassengerInfoList'][0]['PassportDate'] %>">
                            </div>
                            <label for="Nationality" class="col-lg-4 control-label">Nationality</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Nationality" value="<%= RDATA['PassengerInfoList'][0]['Nationality'] %>">
                            </div>
                            <label for="IssueDate" class="col-lg-4 control-label">IssueDate</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="IssueDate" value="<%= RDATA['PassengerInfoList'][0]['IssueDate'] %>">
                            </div>
                            <label for="InfoId" class="col-lg-4 control-label">InfoId</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="InfoId" value="<%= RDATA['PassengerInfoList'][0]['InfoId'] %>">
                            </div>
                            <label for="IdCardTimelimit" class="col-lg-4 control-label">IdCardTimelimit</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="IdCardTimelimit" value="<%= RDATA['PassengerInfoList'][0]['IdCardTimelimit'] %>">
                            </div>
                            <label for="NationalityName" class="col-lg-4 control-label">NationalityName</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="NationalityName" value="<%= RDATA['PassengerInfoList'][0]['NationalityName'] %>">
                            </div>
                            <label for="HongKongMacauLaissezPasser" class="col-lg-4 control-label">HongKongMacauLaissezPasser</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="HongKongMacauLaissezPasser" value="<%= RDATA['PassengerInfoList'][0]['HongKongMacauLaissezPasser'] %>">
                            </div>
                            <label for="Weight" class="col-lg-4 control-label">Weight</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Weight" value="<%= RDATA['PassengerInfoList'][0]['Weight'] %>">
                            </div>
                            <label for="Height" class="col-lg-4 control-label">Height</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="Height" value="<%= RDATA['PassengerInfoList'][0]['Height'] %>">
                            </div>
                            <label for="ShoesSize" class="col-lg-4 control-label">ShoesSize</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="ShoesSize" value="<%= RDATA['PassengerInfoList'][0]['ShoesSize'] %>">
                            </div>
                            <label for="MyopiaDegree" class="col-lg-4 control-label">MyopiaDegree</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="MyopiaDegree" value="<%= RDATA['PassengerInfoList'][0]['MyopiaDegree'] %>">
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="fENV" name="mapIdx" value="<%= API_METADATA_IDX %>">
                        <input type="hidden" class="form-control" id="fENV" name="fENV" value="<%= ENV %>">
                        <input type="hidden" class="form-control" id="iCode" name="iCode" value="<%= ICODE %>">
                        <input type="hidden" class="form-control" id="order" name="order" value="">
                        <input type="submit" class="btn btn-primary btn-sm pull-right" value="查询">
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-7">
                <div class="page-header">
                    <h3><%= API_METADATA.desc %></h3>
                </div>
                <pre id="json-renderer" style="padding:2em"></pre>
                <hr>
                <div id="json-input" class="well well-sm">
                    <%= JSONSTRING %>
                </div>
                <!-- <button id="btn-json-viewer" title="run jsonViewer()" class="btn btn-primary btn-sm">Sync</button> -->
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- /container -->
    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
    <script src="../libs/bootstrap/bootstrap.min.js"></script>
    <script src="../libs/json-viewer/jquery.json-viewer.js"></script>
    <script src="../jss/order-actInfo.js"></script>
    <script type="text/javascript">
    $(function() {
        var options = {
            collapsed: $('#collapsed').is(':checked'),
            withQuotes: $('#with-quotes').is(':checked')
        };
        $('#json-renderer').jsonViewer(JSON.parse($('#json-input').text()), options);

        $('input[type=submit]').on('click', function(e) {
            var distributorOrderID = $('#DistributorOrderID').val();
            var thirdPayType = $('#ThirdPayType').val();
            var distributionChannelID = $('#DistributionChannelID').val();

            var allianceInfo = new AllianceInfo(
                $('#AllianceID').val(),
                $('#SID').val(),
                $('#UserID').val(),
                $('#OUID').val()
            );

            var contactInfo = new ContactInfo(
                $('#ContactName').val(),
                $('#ContactMobile').val(),
                $('#Longitude').val(),
                $('#Latitude').val(),
                $('#SourceID').val(),
                $('#ContactTel').val(),
                $('#ContactFax').val(),
                $('#ContactEmail').val(),
                $('#ContactAddress').val()
            );

            var orderDeliverInfo = new OrderDeliverInfo(
                $('#DeliverType').val(),
                $('#ContactTel').val(),
                $('#Address').val(),
                $('#ReceiverName').val(),
                $('#PostCode').val(),
                $('#CityName').val(),
                $('#IsNeedInvoice').val(),
                $('#Detail').val(),
                $('#Title').val(),
                $('#Remark').val()
            );

            var optionList = new OptionList(
                $('#OptionID1').val(),
                $('#UseDate').val(),
                $('#EndDate').val(),
                $('#Quantity').val(),
                $('#Price').val(),
                $('#DepositQuantity').val(),
                $('#UnitQuantity').val()
            );

            var orderInfo = new OrderInfo(
                $('#ActivityID').val(),
                $('#ChargeType').val(),
                $('#ServerFrom').val(),
                $('#ChildNumber').val(),
                $('#AdultNumber').val(),
                $('#DepositAmount').val(),
                $('#Amount').val(),
                optionList,
                $('#OrderSource').val(),
                $('#ClientIP').val(),
                $('#Remark').val(),
                $('#RemarkTitle').val()
            );

            var passengerInfoList = new PassengerInfoList(
                $('#OptionId2').val(),
                $('#CustomerInfoId').val(),
                $('#IdCarCNamedType').val(),
                $('#EName').val(),
                $('#IdCardNo').val(),
                $('#CardCity').val(),
                $('#BirthDate').val(),
                $('#BirthCity').val(),
                $('#AgeType').val(),
                $('#IdCardType').val(),
                $('#Gender').val(),
                $('#ContactInfo').val(),
                $('#VisaOrgan').val(),
                $('#VisaCountry').val(),
                $('#PassportType').val(),
                $('#PassportNo').val(),
                $('#PassportDate').val(),
                $('#Nationality').val(),
                $('#IssueDate').val(),
                $('#InfoId').val(),
                $('#IdCardTimelimit').val(),
                $('#NationalityName').val(),
                $('#HongKongMacauLaissezPasser').val(),
                $('#Weight').val(),
                $('#Height').val(),
                $('#ShoesSize').val(),
                $('#MyopiaDegree').val()
            );
            var orderFormInfo = new OrderFormInfo(distributorOrderID, thirdPayType, distributionChannelID, allianceInfo, contactInfo, orderDeliverInfo, passengerInfoList, orderInfo);
            console.log(orderFormInfo);
            $('#order').val(JSON.stringify(orderFormInfo))
        });

    });
    </script>
</body>

</html>
